Package: incul-manager
Version: 0.1
Architecture: all
Maintainer: Alessandro Milani <57761908+AlessandroMIlani@users.noreply.github.com>
Description: A qubes-like manager for incus containers
Depends: python3 (>=3.11)
